<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>jhkimblog - main index</title>

  <th:block th:replace="main/index-head::header"></th:block>

</head>

<body>

<!-- Navigation -->
<th:block th:replace="main/index-nav::nav"></th:block>
<!-- Page Header -->
<header class="masthead" style="background-image: url('../img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog Datail</h1>
          <span class="subheading">블로그 상세 보기</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading"><th:block th:text="${blog.title}"></th:block></h2>
        <p th:text="${blog.content }"> : Space, the final frontier. These are the voyages of the Starship Enterprise.</p>
        <a href="#">
          <img class="img-fluid" th:src="@{'/blogs/getImage?filepath=' + ${blog.filepath}}" alt="">
        </a>
        <p class="post-meta">Posted by
          <a href="#" th:text="${blog.b201712015ger}"></a>
          on <th:block th:text="${blog.reg_date_time }"></th:block></p>
        <form name = "deleteForm" th:action="@{'/blogs/' + ${blog.id}}" th:method="delete">
        </form>
        <form name = "updateForm" th:action="@{'/blogs/update/{id}'(id=${blog.id})}" th:method="get">
        </form>
        <div class="clearfix text-center">
          <th:block th:if="${session.name == blog.b201712015ger}">
            <a class="btn btn-primary" href="#" onclick="javascript:document.updateForm.submit();">수정</a>
            <a class="btn btn-primary" href="#" onclick="javascript:document.deleteForm.submit();">삭제</a>
          </th:block>
       </div>
      </div>
    </div>

  </div>
</article>

<hr>
<!-- Footer -->
<th:block th:replace="main/index-footer::footer"></th:block>

</body>
</html>